@model byte
@{Layout = null;
    }
<div style="border-bottom: 2px solid green; border-top: 2px solid green; padding: 5% 0;">
    <div class="form-group">
        <label for="ScheduleDays[@Model].Lessons[].LessonNumber">Номер заняття</label>
        <input class="form-control" name="ScheduleDays[@Model].Lessons[].LessonNumber" id="ScheduleDays[@Model].Lessons[].LessonNumber" type="number" value="">
    </div>

    <div class="form-group">
        <label for="ScheduleDays[@Model].Lessons[].Name">Назва заняття</label>
        <input class="form-control" name="ScheduleDays[@Model].Lessons[].Name" id="ScheduleDays[@Model].Lessons[].Name" type="text" value="">
    </div>

    <div class="form-group">
        <label for="ScheduleDays[@Model].Lessons[].ThematicPlanId">Виберіть тематичний план</label>
        <select name="ScheduleDays[@Model].Lessons[].ThematicPlanId" id="ScheduleDays[@Model].Lessons[].ThematicPlanId">
            <option value="-1">None</option>
            @foreach (var i in ViewBag.ThematicPlan)
            {
                <option value="@i.Id"> @i.Name </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="ScheduleDays[@Model].Lessons[].MethodicalRecomendationId">Виберіть тематичний план</label>
        <select name="ScheduleDays[@Model].Lessons[].MethodicalRecomendationId" id="ScheduleDays[@Model].Lessons[].MethodicalRecomendationId">
            <option value="-1">None</option>
            @foreach (var i in ViewBag.MethodicRecomentadion)
            {
                <option value = "@i.Id" > @i.Name </option>
            }
        </select>
    </div>
</div>
<br />