@model Lesson
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteLesson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <h3>@Model.Name</h3>
            <h3>@Model.LessonNumber</h3>
            <input class="btn btn-danger" type="submit" value="Підтвердити видалення" />
        </form>
    </div>
</body>
</html>
