@model IFNMUSiteCore.Models.Lesson;
@{
    ViewBag.Title = "Документи";
}
@{Layout = "~/Views/Shared/_Layout.cshtml";}

@section Style {
    <style>
        .block a {
            margin: 3%;
            display: flex;
            flex-direction: column;
            flex-basis: min-content;
            text-align: center;
        }
        .block {
            width: 250px;
            height: 250px;
            margin: 2%;
            padding-top: 2%;
        }
        .block:hover {
            background-color: whitesmoke;
            border-radius: 20px;
        }
    </style>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documents</title>
</head>
<body>
    <div style="margin: auto;width: 100%;display: flex;justify-content: center;flex-wrap: wrap;">
        @if (Model.ChairId != null && Model.ChairId > 0)
        {
            <div class="block" style="">
                <a asp-action="Chair" asp-controller="Home" asp-route-id="@Model.ChairId">
                    <img style="margin: auto;width: 70%;margin-right: 10%;" src="https://img.icons8.com/ios-filled/100/000000/internet.png">
                    <p style="font-size: 1.2em;">Сайт кафедри</p>
                </a>
            </div>
        }
        @if (Model.ThematicPlanId != null)
        {
            <div class="block" style="">
                <a asp-action="ThematicPlan" asp-controller="Home" asp-route-id="@Model.ThematicPlan.Id">
                    <img style="margin: auto;width: 70%;margin-right: 10%;" src="https://shops.alutech-group.com/files/105/105/222.png">
                    <p style="font-size: 1.2em;">Тематичний план</p>
                </a>
            </div>
        }
        @if (Model.MethodicalRecomendationId != null)
        {
            <div class="block" style="">
                <a asp-action="MethodicalRecomendation" asp-controller="Home" asp-route-id="@Model.MethodicalRecomendation.Id">
                    <img style="width: 70%;margin: auto;" src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453931Wordpad256x25632.png">
                    <p style="font-size: 1.2em;">Методичні рекомендації</p>
                </a>
            </div>
        }

    </div>
</body>
</html>
