
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тематичний план</title>
    <style>
        body{
            font-size:2em;
            text-align:center;
        }
    </style>
</head>
<body>
    На даний час документи до даної дисципліни <b>відсутні</b>
</body>
</html>
