@model Exception
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Warning</title>
</head>
<body>
    @Model.Message
</body>
</html>
