* {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.divLog{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlePage {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

    .buttonDiv > button {
        font-size: 1.3em;
        margin: 2% 0;
        background-color: #f2ffe4;
        border-radius: 10%;
        font-family: unset;
    }

        .buttonDiv > button:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: azure;
            border-radius: 10%;
        }

.containerQuestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:80%;
    margin:auto;
}

.question h4 {
    text-align: justify;
}

.question {
    margin-top: 1%;
    padding: 1%;
    width: 40%;
    border-image: linear-gradient(210deg, rgba(0, 0, 255, 0.521) 0%, white 30% 70%, rgba(255, 255, 0, 0.527) 100%);
    border-image-slice: 1;
    border-width: 3px;
    border-style: solid;
}

    .question p {
        width: 90%;
        margin: 0;
        vertical-align: middle;
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
        border-radius: 0.5em;
    }


.hoverAnswer:hover {
    background-color: beige;
    cursor: pointer;
}

.answer {
    background-color: rgba(255, 60, 60, 0.425);
}

@media (max-device-width:1150px) {
    .containerQuestions {
        width: 100%;
    }
}

@media (max-device-width:650px) {

    .containerQuestions {
        flex-direction: column;
        width: 90%;
    }

    .question {
        width: 97.5%;
    }
}

.trueAnswer {
    background-color: rgba(34, 240, 34, 0.356);
}
.hoverLog{
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 10em;
}
.hoverLog:hover{
    background-color:rgb(253, 255, 118);

    box-shadow: 0px 2px rgba(0, 0, 255, 0.486);
}
